@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Delicious Handrawn', cursive;
}

body {
   width: 100vw;
   height: 100vh;
   background-image: linear-gradient(to left, rgb(151, 248, 255), rgb(0, 195, 255));
   display: flex;
   justify-content: center;
   align-items: center;
}

main {
   height: 650px;
}

#title {
   font-size: 6rem;
   color: white;
   text-shadow: 0 0 10px rgba(0,0,0,0.5);
   letter-spacing: .5rem;
   text-align: center;
}

#foto {
   display: flex;
   justify-content: center;
   height: 300px;
   margin: 4rem;
   gap: 7rem;
}

#foto-mozao {
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#foto-mozao:hover {
   transform: scale(1.02);
   transition: .1s linear;
   cursor: pointer;
}

#botao {
   display: flex;
   justify-content: center;
   width: 100%;
}

#btn {
   margin: .5rem;
   padding: 1.3rem;
   background-color: rgb(23, 159, 223);
   border-radius: 10px;
   width: 340px;
   border: none;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
   cursor: pointer;
   color: white;
   font-size: 18px;
   font-family: 'Righteous', cursive;
}

#btn:hover {
   transform: scale(1.05);
   transition: .1s linear;
}

#btn:active {
   transform: scale(1);
}

#foto-ridicula {
   height: 500px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#texto-ridiculo {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   color: black;
}

#texto-ridiculo > p {
   font-family: 'Righteous', cursive;
   text-align: justify;
   width: 800px;
   padding: 1rem;
   font-size: 20px;
   background-color: rgba(253, 253, 253, 0.76);
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#voltar {
   position: absolute;
   bottom: 2.5rem;
   left: 1rem;
   border-radius: 100%;
   background-image: linear-gradient(45deg, rgb(41, 87, 146), rgb(45, 191, 248));
   border: none;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   cursor: pointer;
}

#voltar > img {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   padding: 1rem;
   transform: rotate(90deg);
}